.upsellProduct {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5rem;
  /* identical to box height, or 150% */

  letter-spacing: -0.011em;

  /* Grey/Grey 90 */

  color: #111827;
}

.productImg {
  width: 96px;
  height: 96px;
}

.productContainer {
  margin-top: 0.8rem;
  display: flex;
}

.productContainer .productDetails {
  margin-left: 0.8rem;
}

.productContainer h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  /* line-height: 1.125rem; */
  /* identical to box height, or 171% */

  letter-spacing: -0.02em;

  /* Grey/Grey 90 */

  color: #111827;
}

.productDetails p {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 26px;
  /* or 167% */

  /* Grey/Grey 50 */

  color: #6b7280;
}

.productDetails .oldPrice {
  text-decoration: line-through;
}

.productDetails .newPrice {
  font-weight: 500;
}

.productDetails .subItem {
  margin-top: -5px;
}

.productDetails span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.5rem;
  /* or 167% */

  /* Grey/Grey 90 */

  color: #111827;
}

@media (min-width: 413px) {
  .productImg {
    width: 130px;
    height: 130px;
  }
}
