@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

.App {
  overflow: hidden;
  font-family: "Inter", "Segoe UI", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
}

.bg {
  margin: 0 auto;

  /* position: absolute; */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  opacity: 1;
  z-index: -99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  z-index: 9999;
  inset: 16px;
  /* pointer-events: none; */
  background-color: #fefefe;
}

.merchantName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20.844px;
  line-height: 31px;
  /* or 150% */

  letter-spacing: -0.011em;

  /* Grey/Grey 90 */

  color: #111827;

  /* Black Text */
}

.spacing {
  max-width: 5px;
  height: 1.3px;
}

.spacing2 {
  height: 2px;
}

/* 
@media (max-width: 391px) {
  .checkoutSpacing {
    margin-top: 25.5vh;
  }
} */

@media (min-width: 950px) {
  .screen {
    max-width: 390px;
    max-height: 844px;
    margin: 0 auto;
    width: 50%;
  }

  .containerHolder {
    height: 56vh !important;
  }
}

@media (min-width: 389px) {
  .container {
    height: 166px !important;
  }
}

@media (min-width: 346px) {
  .orderContainer {
    padding-top: 0.5rem !important;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  /* .checkoutSpacing {
    margin-top: 28vh;
  } */

  .container {
    height: 166px !important;
  }

  .addCoupon {
    margin-top: -6px !important;
    /* Text/Medium 16px */

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #3587f7;

    border: 0;
    background: 0;

    width: 47%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }
}

@media (min-width: 1000px) {
  .containerHolder {
    height: 50vh !important;
  }

  .bg {
    min-height: 60vh !important;
  }
}

@media (min-width: 2560px) {
  .checkout {
    top: 0 !important;
    margin-top: -21vh !important;
  }
}

@media (min-width: 1439px) {
  .bg {
    min-height: 60vh !important;
  }
}

@media (min-width: 300px) {
  .container {
    width: 100%;
    height: 170px;
  }

  .MainContainer {
    width: 100%;
    height: 100%;
  }

  /* #f0f2f5 */
  .inputSpacing {
    height: 2px;
    width: 100%;
  }

  .merchantHeader {
    padding: 28px 28px 38px 28px;
    /* margin-top: 28px;
    margin-left: 31.27px; */
    /* height: 35px; */
    /* border: 1px solid red; */
  }
}

@media (min-width: 300px) and (max-width: 385px) {
  .containerHolder {
    height: 56vh !important;
  }
}

.merchantContainer {
  /* border: 1px solid pink; */
}

.priceAndIcon {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}

.blur {
  filter: blur(2px);
  backdrop-filter: blur(6px);
}

.checkMark {
  height: 18px;
}

.cart {
  width: 133.2px;
  height: 36px;
  left: 232px;
  top: 27px;
  background: #e1e6ed;
  display: flex;
  border-radius: 9px;
  transition: 0.3s all;
}

.cart:hover {
  cursor: pointer;
  background-color: #d8dbe0;
}

.cartContainer {
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  width: 160px;
  /* border: 1px solid blue; */
}

.products {
  margin-top: 1px;
  /* border: 1px solid pink; */
  display: flex;
}

.product1 {
  left: 11.7px;
  top: 7.2002px;
  width: 21.6px;
  height: 21.6px;
  border-radius: 45px;
  background-color: #ffc400 !important;
}

.product2 {
  position: relative;
  left: -11.7px;
  width: 21.6px;
  height: 21.6px;
  border-radius: 45px;
  background: #56c568 !important;
}

.price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 17px;
  color: #000000;
  margin-top: 1px;
}

.arrow {
  margin-top: 7px;
  margin-left: 8px;
  height: 5px;
}

.shippingSection {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* #959595 - Mid Grey 2 */

  color: #959595;
}

.checkoutContainer {
  height: 120px;

  background: #ffffff;

  border-radius: 0px 0px 10px 10px;
}

.footerSpan {
  margin: 0 auto;
  text-align: center;
  margin-top: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 165.7%;
  /* or 18px */

  /* #959595 - Mid Grey 2 */

  color: #ff0000;
}

.checkoutBtn {
  margin: 0 auto;
  margin-top: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 165.7%;
  /* or 18px */

  text-align: center;
  /* Black Text */

  background: #01010f;
  width: calc(100% - 20px);
  height: 58px;
  align-items: center;
  /* #959595 - Mid Grey 2 */
  border-radius: 5px;
  color: #fefefe;
  transition: all 0.15s;
}

.checkoutTextContainer {
}

.checkoutArea {
  margin: 12px auto 12px auto;

  margin: 0 auto;
  /* border: 1px solid red; */
}

.checkoutTextContainer {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 23px;
  letter-spacing: -0.03em;
  margin-left: 5px;
  color: #ffffff;
  height: 24px;
}

.lockIcon {
  margin-top: 2.7px;
}

.checkoutBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* .checkoutSpacing {
  margin-top: 26vh;
} */

.bg {
  background: #fefefe;
  min-height: 100vh;
}

.checkout {
  position: sticky;
  top: 100%;
}

.subName {
  margin-top: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  /* identical to box height, or 171% */

  letter-spacing: -0.006em;

  /* Grey/Grey 50 */

  color: #6b7280;
}

.containerHolder {
  height: 50vh;
  /* container vh */
  padding: 0px 30px 0px 28px;
  background-color: #fefefe;
}

.orderContainer {
  width: 100%-25%;
  /* height: 35vh; */
  padding: 1.5rem 0px 0px 0px;
  background-color: #fefefe;
}

.orderVariable {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  /* identical to box height, or 171% */

  letter-spacing: -0.006em;

  /* Grey/Grey 50 */

  color: #6b7280;
}

.nonVariable {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 31px;
  /* identical to box height, or 171% */

  letter-spacing: -0.006em;

  /* Grey/Grey 90 */

  color: #111827;
}

.subVariable {
  margin-top: 4px;
}

.orderEmail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 31px;
  /* or 171% */

  letter-spacing: -0.006em;

  /* Grey/Grey 50 */

  color: #01010f;
}

.aboveOrderEmail {
  margin-top: 0.8rem;
}

.confirmation {
  margin-top: 0.3rem !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 31px;
  margin-bottom: 0.4rem;

  letter-spacing: -0.006em;

  color: #3b82f6;
  text-decoration: none;
}

.MainContainer {
  border: 1px solid #e5e7eb;
}

.button {
  /* margin: auto; */
  /* padding: 1rem 2rem; */
  /* border-radius: 2rem; */
  border: none;
  /* background: #111111; */
  color: white;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button span {
  position: relative;
  font-weight: bold;
  transition: color 0.3s ease;
  z-index: 1;
}

.button:focus {
  outline: none;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button::after {
  background: #ffc300;
  clip-path: circle(0% at 0% 100%);
  transition: clip-path 0.4s ease-out 0s;
}

.button::before {
  background: #fd0;
  clip-path: circle(0% at 0% 0%);
  transition: clip-path 0.4s ease-out 0.1s;
}

.button:hover::before,
.button:hover::after {
  clip-path: circle(100% at 50% 50%);
}

.button:hover::before {
  transition: clip-path 0.4s ease-out 0s;
}

.button:hover::after {
  transition: clip-path 0.4s ease-out 0.1s;
}

.leave {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 165.7%;
  /* or 18px */

  text-align: center;

  /* #959595 - Mid Grey 2 */

  color: #959595;
}
